:root {
    --color-primario: #878787;
    --color-secundario: #fff;
    --color-negro: #000;
    --color-hover: #ccc8c8;
}

[class^="icon-"], [class*="icon-"] {
    height: 32px;
    width: 32px;
    display: inline-block; 
}

#Icon{
    font-weight: bold;
}

.contenedor{
    display: grid;
    background-color: var(--color-secundario);
    grid-template-rows: 1fr 2fr;
    width: 60vw;
    text-align: center;
    padding: 1.6vh;
    border-radius: 10px;
}

.contenedorpequeño{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contenedor:last-child{
    margin-top: 3vh;
}