@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    font-family: poppins;
  }

  :root {
    --color-primario: #878787;
    --color-hover-primario: #444444;
    --color-secundario: #fff;
    --color-negro: #000;
    --color-hover: #ccc8c8;
    --color-hover-secundario: #e4dfdf;
  }

  body {
    display: grid;
    grid-template-rows: 100px auto auto 60px;
    height: 100%;
    margin: 0%;
    padding: 0%;
    background-color: #272525;
  }

  /*Estilos Header*/

  header {
    display: grid;
    grid-template-columns: 3fr 4fr 4fr;
    background-color: var(--color-secundario);
    color: var(--color-secundario);
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
  }

  .logo {
    width: 250px;
  }
  
  .menu a {
    text-decoration: none;
    color: var(--color-primario);
    font-size: 18px;
    text-align: center;
    transition: 0.2s linear;
  }

  .menu a:hover{
    color: var(--color-hover-primario);
  }

  .navbar{
    display: grid;
    grid-template-columns: 1fr auto auto auto auto;
    text-align: center;
    gap: 50px;
    
  }

  input {
    display: none;
  }

  label{
    display: none;
    color: var(--color-primario);
  }

  /*Estilos Main*/

  main {
    padding: 20px;
    display: flex;
    justify-content: center;
  }

  .general{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 33px;
    width: 1130px;
  }

  .general2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 33px;
    width: 740px;
  }

  .card{
    background-color: var(--color-secundario);
    width: 350px;
    border-radius: 10px;
    border: solid 2px var(--color-negro);
    display: grid;
    grid-template-rows: 4fr 1fr;
    justify-self: center;
    text-align: center;
  }

  .card:hover{
    background-color: var(--color-hover);
  }

  .card img{
    height: 200px;
    width: 350px;
    background-color: #000;
    border-radius: 6px 6px 0px 0px;
    border-bottom: solid 2px var(--color-negro) ;  
  }

  .titulo {
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
  }

  a{
    text-decoration: none;
    color: var(--color-negro);
  }

  span a:hover{
    font-weight: bold;
  }

  video{
    width: 100%;
    height: calc(100vh - 100px);
    object-fit: cover;
  }
  

  /*Estilos footer*/

  footer {
    background-color: var(--color-secundario);
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  footer a, footer p{
    font-size: 13px;
    font-weight: bolder;
    gap: 10px;
    cursor: default;
    color: var(--color-primario);
    transition: 0.8s linear;
  }

  footer a:hover{
    cursor: pointer;
    color: var(--color-negro);
  }

  /*Estilos Reponsive*/

@media screen and (max-width:1250px){
  .general{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 740px;
    justify-content: center;
  }
}

@media screen and (max-width:850px){
     
     input:checked ~ .navbar{
        display: block;
     }
     .navbar{
        display: block;
     }

     .general{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      width: 350px;
      justify-content: center;
    }

    .general2{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      width: 350px;
      justify-content: center;
    }

    main{
      justify-content: center;
      align-items: center;
      display: flex;
    }

    .navbar{
      position: absolute;
      padding-top: 10px;
      padding-bottom: 10px;
      background: var(--color-secundario);
      border-top: .1rem solid rgba(0, 0, 0, .2);
      box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
      display: none;
      left: 0px;
      top: 100px;
      width: 100%;
    }

    .botn:hover{
      background-color: var(--color-hover-secundario);
    }

    .iconomenu{
      color: var(--color-primario);
      font-size: 30px;
      display: inline-block;
      position: absolute;
      justify-content: center;
      right: 30px;
      top: 28px;
      transition: 0.5s linear;
    }

    .iconomenu:hover{
      cursor: pointer;
      color: var(--color-hover-primario);
    }

}
  

  

  /*
  .btn{
    background-color: var(--color-primario);
    border: solid 1px var(--color-negro);
    padding: 1vh;
    border-radius: 10px;
    text-decoration: none;
    color: var(--color-negro);
    height: 2vh;
  }
  */
/*
@media (max-width: 950px) {

  .general {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .card{
    width: 40vw;
    grid-template-rows: 5fr 1fr;
  }

  .card img{
    height: 30vw;
    width: 40vw;
  }


}
*/